<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<meta name="description" content="">
		<meta name="keywords" content="">
		<title>关于我们</title>
		<link rel="shortcut icon" href="assets/img/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="https://lrabbit.oss-cn-beijing.aliyuncs.com/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="https://lrabbit.oss-cn-beijing.aliyuncs.com/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="../static/assets/css/swiper.min.css">
		<link rel="stylesheet" type="text/css" href="https://lrabbit.oss-cn-beijing.aliyuncs.com/animate.min.css">
		<link rel="stylesheet" type="text/css" href="../static/assets/css/normalize.css">
		<link rel="stylesheet" type="text/css" href="../static/assets/css/htmleaf-demo.css">
		<link rel="stylesheet" type="text/css" href="https://lrabbit.oss-cn-beijing.aliyuncs.com/hamburgers.css">
		<link rel="stylesheet" type="text/css" href="../static/assets/css/reset.css">
		<link rel="stylesheet" type="text/css" href="https://lrabbit.oss-cn-beijing.aliyuncs.com/main.css">
		<link rel="stylesheet" type="text/css" href="../static/assets/css/response.css">
	</head>
	<body name="about">
		<header class="header animate">
			<div class="h-content">
				<div class="clear-float container-lg">
					<a href="index.html" class="h-logo"><img src="../static/assets/img/qr.jpg"><span style="font-weight: 700; margin-left: 2rem; width: 200%;">183-4713-5404</span></a>
					<div class="h-ad vertical">
						<p style="color: red;">专注程序定制设计开发，代写服务</p>
					</div>
					<div class="hamburger hamburger--squeeze phone-icon">
						<div class="hamburger-box">
							<div class="hamburger-inner"></div>
						</div>
					</div>
				</div>
			</div>
			<ul class="h-nav clear-float container-lg">
				<li><a href="index.html"><span>首页</span></a><span class="b-line animate"></span></li>
				<li class="nav-active"><a href="about.html"><span>关于我们</span></a><span class="b-line animate"></span></li>

				<li><a href="contact.html"><span>联系我们</span></a><span class="b-line animate"></span></li>
			</ul>
			<ul class="phone-nav">
				<li><a href="index.html">首页</a></li>
				<li><a href="about.html" class="nav-active">关于我们</a></li>
				<li><a href="contact.html">联系我们</a></li>
			</ul>
		</header>


		<section class="other-banner animate section-top">
			<div class="other-frame">
			<!-- 	<img src="assets/img/b1.jpg" /> -->
				<div class="other-content">
					<h2 class="en-family">ABOUT</h2>
					<h4>关于我们</h4>
				</div>
				<div id="canvas-wh"></div>
			</div>
		</section>


		<section class="about-philosophy">
			<div class="container">
				<h2 class="en-family" style="color: #ef313d;">ABOUT RBang</h2>
				<h4>关于兔子帮</h4>
				<h3>兔子帮历史</h3>
				<div class="a-philosophy-txt">
					兔子帮在近3年的时间里，兔子帮已累计服务超过近千家客户，通过口碑获得了一定的市场份额，并开始成长。<br>兔子帮一直执着于高效程序定制，代写服务。
				</div>
	
			</div>
		</section>


		<section class="about-team">
			<div class="container">
				<h2 class="en-family" style="color: #ef313d;">FOUNDER</h2>
				<h4>兔子帮创始人</h4>
				<div class="row">
					<div class="col-md-4 a-team-left cc4">
						<!-- <img src="assets/img/img3.png" /> -->
					</div>
					<div class="col-md-8 a-team-right cc8 cc8-1">
						<h2>小小北辰</h2>
						<div class="a-team-right-txt">
							兔子帮创始人，毕业后开始创业，从扫楼推销开始起步，一步一步积累，从一人单打独斗到十几人的纯技术团队，毕业一年半的时间，目前兔子帮定制开发类目已位列猪八戒网南昌市第一名
							两年多的时间兔子帮也一直坚守着自己的方向，坚持只做一件事，并将品质放在第一位。
						</div>
					</div>
				</div>
			</div>
		</section>


		<section id="toTop" class="animate">
			<i class="fa fa-angle-up"></i>
		</section>


		<footer class="footer">
			<div class="top-text">
				<div class="container-lg vertical">
					<p>如需要程序开发,代写服务，欢迎与我们联络，兔子帮是你最好的选择</p>
				</div>
			</div>
			<div class="middle-wrap">
				<div class="container-lg">
					<div class="left-contact">
						<div class="phone-number"><img src="../static/assets/img/phone.svg" class="phoneSvg22">183-4713-5404</div>
						<div class="sm-text">联系时间：9:00－17:00</div>
					</div>
					<div class="right-btn"><span class="icon"></span><span class="text"><a href="/cdn-cgi/l/email-protection" class="__cf_email__"
							 data-cfemail="bb8a8d8a8a88838c8b8d88fbcaca95d8d4d6">[709343607@qq.com]</a></span></div>
				</div>
			</div>
			<div class="bottom-wrap">
				<div class="f-content container-lg">
					<div class="f-content-wrap">
						<div class="col-md-6 col-sm-6 col-xs-12 f-footer-info">
							<p class="mfname"><b>江西南昌兔子帮网络科技有限公司</b></p>
							<p><img src="../static/assets/img/f1.svg" class="ffj">江西南昌市丰和中大道1266号</p>
							<p><img src="../static/assets/img/f2.svg" class="ffj"><a href="/cdn-cgi/l/email-protection" class="__cf_email__"
																					 data-cfemail="84b5b2b5b5b7bcb3b4b2b7c4f5f5aae7ebe9">709343607@qq.com</a></p>
							<p><img src="../static/assets/img/f3.svg" class="ffj">183-4713-5404</p>

						</div>
						<div class="col-md-3 col-sm-3 col-xs-6 f-footer-info">
							<p class="f-title">本站链接</p>
							<a href="about.html" class="animate">关于我们</a>
							<a href="service.html" class="animate">服务体系</a>
							<a href="project.html" class="animate">案例中心</a>
						</div>
					
					</div>
					
				</div>
				<div class="f-line"></div>
				<div class="f-copyright container-lg">© 2018 rabbit bang!
					<a class="animate f-copyright-1" href="http://pay.mfdemo.cn/" target="_blank">RBang!</a>
				
				</div>
			</div>
		</footer>

		<script src="https://lrabbit.oss-cn-beijing.aliyuncs.com//jquery-1.8.2.min.js"></script>
		<script src="https://lrabbit.oss-cn-beijing.aliyuncs.com/swiper.min.js"></script>
		<script src="../static/assets/js/swiper.animate1.0.2.min.js"></script>
		<script src="assets/js/canvas-particle.js"></script>
		<script src="../static/assets/js/wow.min.js"></script>
		<script src="https://lrabbit.oss-cn-beijing.aliyuncs.com/main.js"></script>
	</body>
</html>
