<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<meta name="description" content="">
		<meta name="keywords" content="">
		<title>联系我们</title>
		<link rel="shortcut icon" href="assets/img/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="../static/assets/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../static/assets/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="../static/assets/css/swiper.min.css">
		<link rel="stylesheet" type="text/css" href="../static/assets/css/animate.min.css">
		<link rel="stylesheet" type="text/css" href="../static/assets/css/normalize.css">
		<link rel="stylesheet" type="text/css" href="../static/assets/css/htmleaf-demo.css">
		<link rel="stylesheet" type="text/css" href="../static/assets/css/hamburgers.css">
		<link rel="stylesheet" type="text/css" href="../static/assets/css/reset.css">
		<link rel="stylesheet" type="text/css" href="../static/assets/css/main.css">
		<link rel="stylesheet" type="text/css" href="../static/assets/css/response.css">
	</head>
	<body name="contact" id="contact">

		<header class="header animate">
			<div class="h-content">
				<div class="clear-float container-lg">
					<a href="index.html" class="h-logo"><img src="../static/assets/img/qr.jpg"><span style="font-weight: 700; margin-left: 2rem; width: 200%;">183-4713-5404</span></a>
					<div class="h-ad vertical">
						<p style="color: red;">专注程序定制设计开发，代写服务</p>
					</div>
		
					<div class="hamburger hamburger--squeeze phone-icon">
						<div class="hamburger-box">
							<div class="hamburger-inner"></div>
						</div>
					</div>
				</div>
			</div>
			<ul class="h-nav clear-float container-lg">
				<li><a href="index.html"><span>首页</span></a><span class="b-line animate"></span></li>
				<li><a href="about.html"><span>关于我们</span></a><span class="b-line animate"></span></li>
				<li class="nav-active"> <a href="contact.html"><span>联系我们</span></a><span class="b-line animate"></span></li>
			</ul>
			<ul class="phone-nav">
				<li><a href="index.html">首页</a></li>
				<li><a href="about.html">关于我们</a></li>
				<li><a href="contact.html" class="nav-active">联系我们</a></li>
			</ul>
		</header>


		<section class="other-banner animate section-top">
			<div class="other-frame">
		<!-- 		<img src="assets/img/b5.jpg" /> -->
				<div class="other-content">
					<h2 class="en-family">CONTACT</h2>
					<h4>联系我们</h4>
				</div>
				<div id="canvas-wh"></div>
			</div>
		</section>


		<section class="contact-info">
			<div class="c-info-frame">
				<h3>联系电话</h3>
				<div class="phone-number"><img src="../static/assets/img/phone.svg" class="phoneSvg22">184-4713-5404</div>
				<div>上班时间 8：30-17：30</div>
			</div>
		</section>


		<div id="allmap"></div>


		<section class="contact-form">
			<h2 class="en-family">留言栏</h2>
			<div class="container c-form-container">
				<div class="c-form-txt text-left">
					如果您对我们的工作有什么建议，欢迎联系我们，我们会尽快反馈
				</div>

				<form action="#" method="post" accept-charset="utf-8" class="c-form">
					<div class="row">
						<div class="col-md-12 c-form-row">
							<div class="col-md-3 col-sm-3 col-xs-3 clear-float c-form-left">
								<div class="c-form-name">
									<span>姓名</span>
								</div>
								<div class="c-form-must">
									<span>必填</span>
								</div>
							</div>
							<div class="col-md-9 col-sm-9 col-xs-9 c-form-right">
								<input name="name" type="text" class="input-txt animate" data-name="姓名" data-must="1" placeholder="例）小兔子" />
								<div class="c-form-error animate">error</div>
							</div>
						</div>
						<div class="col-md-12 c-form-row">
							<div class="col-md-3 col-sm-3 col-xs-3 clear-float c-form-left">
								<div class="c-form-name">
									<span>手机</span>
								</div>
								<div class="c-form-must">
									<span>必填</span>
								</div>
							</div>
							<div class="col-md-9 col-sm-9 col-xs-9 c-form-right">
								<input name="phone" type="text" class="input-txt input-phone animate" data-name="手机" data-must="1" placeholder="例）188 1232 1232" />
								<div class="c-form-error animate">error</div>
							</div>
						</div>
						<div class="col-md-12 c-form-row">
							<div class="col-md-3 col-sm-3 col-xs-3 clear-float c-form-left">
								<div class="c-form-name">
									<span>座机</span>
								</div>
								<div class="c-form-choose">
									<span>选填</span>
								</div>
							</div>
							<div class="col-md-9 col-sm-9 col-xs-9 c-form-right">
								<div class="c-form-error animate">error</div>
							</div>
						</div>
						<div class="col-md-12 c-form-row">
							<div class="col-md-3 col-sm-3 col-xs-3 clear-float c-form-left">
								<div class="c-form-name">
									<span>邮箱</span>
								</div>
								<div class="c-form-choose">
									<span>选填</span>
								</div>
							</div>
							<div class="col-md-9 col-sm-9 col-xs-9 c-form-right">
								<input name="email" type="email" class="input-txt input-email animate" data-name="邮箱" data-must="2" placeholder="例）gsir@mfstory.cn" />
								<div class="c-form-error animate">error</div>
							</div>
						</div>
						<div class="col-md-12 c-form-row">
							<div class="col-md-3 col-sm-3 col-xs-3 clear-float c-form-left">
								<div class="c-form-name">
									<span>留言主题</span>
								</div>
								<div class="c-form-choose ">
									<span>选填</span>
								</div>
							</div>
							<div class="col-md-9 col-sm-9 col-xs-9 c-form-right">
								<div class="c-form-select">
									<div class="input-txt text-left input-select"><span>网站定制</span><i class="fa fa-caret-down"></i></div>
									<div class="input-option">
										<div class="text-left hover-active">程序定制</div>
										<div class="text-left">加入我们</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12 c-form-row">
							<div class="col-md-3 col-sm-3 col-xs-3 clear-float c-form-left">
								<div class="c-form-name">
									<span>留言内容</span>
								</div>
								<div class="c-form-must">
									<span>必填</span>
								</div>
							</div>
							<div class="col-md-9 col-sm-9 col-xs-9 c-form-right">
								<textarea name="msg" class="input-txt animate" data-name="留言需求" data-must="1" placeholder="请输入您要留言的内容" rows="3"></textarea>
								<div class="c-form-error animate">error</div>
							</div>
						</div>
					</div>
					<div class="c-form-btn">
						<div class="c-form-submit"><span>提交</span></div>
					</div>
				</form>

			</div>
		</section>


		<div class="form-succ">
			<i class="fa fa-close form-succ-close"></i>
			<img src="../static/assets/img/logo1.svg" />
			<div class="form-succ-txt">提交成功</div>
			<div class="form-succ-time"><span class="form-succ-num" data-time="3">3</span> 秒后关闭</div>
		</div>


		<section id="toTop" class="animate">
			<i class="fa fa-angle-up"></i>
		</section>


		<footer class="footer">
			<div class="top-text">
				<div class="container-lg vertical">
					<p>如需要程序开发，代写服务欢迎与我们联络，兔子帮是你最好的选择</p>
				</div>
			</div>
			<div class="middle-wrap">
				<div class="container-lg">
					<div class="right-btn"><span class="icon"></span><span class="text"><a href="/cdn-cgi/l/email-protection" class="__cf_email__"
							 data-cfemail="8ebfb8bfbfbdb6b9beb8bdceffffa0ede1e3">709343607@qq.com</a></span></div>
				</div>
			</div>
			<div class="bottom-wrap">
				<div class="f-content container-lg">
					<div class="f-logo"><img src="../static/assets/img/logo2.svg"></div>
					<div class="f-content-wrap">
						<div class="col-md-6 col-sm-6 col-xs-12 f-footer-info">
							<p class="mfname"><b>江西南昌兔子帮网络科技有限公司</b></p>
							<p><img src="../static/assets/img/f1.svg" class="ffj">江西南昌市丰和中大道1266号</p>
							<p><img src="../static/assets/img/f2.svg" class="ffj"><a href="/cdn-cgi/l/email-protection" class="__cf_email__"
																					 data-cfemail="84b5b2b5b5b7bcb3b4b2b7c4f5f5aae7ebe9">709343607@qq.com</a></p>
							<p><img src="../static/assets/img/f3.svg" class="ffj">183-4713-5404</p>
							<div class="bdsharebuttonbox share-mf" data-tag="share_1">
								<a class="icon bds_sqq animate" data-cmd="sqq" title="分享到QQ好友"></a>
								<a class="icon bds_weixin animate" data-cmd="weixin" title="分享到微信"></a>
								<a class="icon bds_tsina animate" data-cmd="tsina" title="分享到新浪微博"></a>
							</div>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6 f-footer-info">
							<p class="f-title">本站链接</p>
							<a href="about.html" class="animate">关于我们</a>
							<a href="service.html" class="animate">服务体系</a>
							<a href="project.html" class="animate">案例中心</a>
						</div>
					</div>

				</div>
				<div class="f-line"></div>
				<div class="f-copyright container-lg">© 2018 rabbit bang!
					<a class="animate f-copyright-1" href="http://pay.mfdemo.cn/" target="_blank">RBang!</a>

				</div>
			</div>
		</footer>

		<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
		<script src="../static/assets/js/jquery-1.8.2.min.js"></script>
		<script src="../static/assets/js/swiper.min.js"></script>
		<script src="../static/assets/js/swiper.animate1.0.2.min.js"></script>
		<script src="assets/js/canvas-particle.js"></script>
		<script src="../static/assets/js/wow.min.js"></script>
		<script src="../static/assets/js/main.js"></script>
		<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=oxlvdUxV5KHd4wDyGOGbsKGZVgQn4iTz"></script>
		<script type="text/javascript">
			var map = new BMap.Map("allmap");
			var point = new BMap.Point(121.613139, 29.815951);
			map.centerAndZoom(point, 18);
			var marker = new BMap.Marker(point); // 创建标注
			map.addOverlay(marker); // 将标注添加到地图中
			marker.disableDragging(); // 不可拖拽
			map.setMapStyle({
				style: 'grayscale'
			});
		</script>
	</body>
</html>
