<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<meta name="description" content="">
		<meta name="keywords" content="">
		<title>首页</title>
		<link rel="shortcut icon" href="assets/img/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="../static/assets/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../static/assets/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="../static/assets/css/swiper.min.css">
		<link rel="stylesheet" type="text/css" href="../static/assets/css/animate.min.css">
		<link rel="stylesheet" type="text/css" href="../static/assets/css/normalize.css">
		<link rel="stylesheet" type="text/css" href="../static/assets/css/htmleaf-demo.css">
		<link rel="stylesheet" type="text/css" href="../static/assets/css/hamburgers.css">
		<link rel="stylesheet" type="text/css" href="../static/assets/css/reset.css">
		<link rel="stylesheet" type="text/css" href="../static/assets/css/main.css">
		<link rel="stylesheet" type="text/css" href="../static/assets/css/response.css">
	</head>
	<body name="index">

		<header class="header animate">
			<div class="h-content">
				<div class="clear-float container-lg">
					<a href="index.html" class="h-logo"><img src="../static/assets/img/qr.jpg"><span style="font-weight: 700; margin-left: 2rem; width: 200%;">183-4713-5404</span></a>
					<div class="h-ad vertical">
						<p style="color: red;">专注程序定制设计开发，代写服务</p>
					</div>
					
					<div class="hamburger hamburger--squeeze phone-icon">
						<div class="hamburger-box">
							<div class="hamburger-inner"></div>
						</div>
					</div>
				</div>
			</div>
			<ul class="h-nav clear-float container-lg">
				<li class="nav-active"><a href="index.html"><span>首页</span></a><span class="b-line animate"></span></li>
				<li><a href="about.html"><span>关于我们</span></a><span class="b-line animate"></span></li>
				<li><a href="contact.html"><span>联系我们</span></a><span class="b-line animate"></span></li>
			</ul>
			<ul class="phone-nav">
				<li><a href="index.html" class="nav-active">首页</a></li>
				<li><a href="about.html">关于我们</a></li>
				<li><a href="contact.html">联系我们</a></li>
			</ul>
		</header>


		<section class="i-banner-top section-top animate">
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="swiper-bg" style="background-image: url('../static/assets/img/i-banner1.jpg')"></div>
						<div class="swiper-content flex-center">
							<div class="swiper-title">效率</div>
							<div class="swiper-desc">极速开发，提供业内最快程序开发，代写速度</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="swiper-bg" style="background-image: url('../static/assets/img/i-banner2.jpg')"></div>
						<div class="swiper-content flex-center">
							<div class="swiper-title">质量</div>
							<div class="swiper-desc">兔子帮在最短的时间内，提供优秀的程序开发，代写服务</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="swiper-bg" style="background-image: url('../static/assets/img/i-banner3.jpg')"></div>
						<div class="swiper-content flex-center">
							<div class="swiper-title">服务</div>
							<div class="swiper-desc">一对一客服，一对一技术开发人人员</div>
						</div>
					</div>
				</div>
				<div class="swiper-pagination"></div>
			</div>
		</section>


		<section class="i-about bg-center" style="background-image: url('../static/assets/img/i-about-bg.jpg');">
			<div class="about-wrap flex-center">
				<div class="a-title en-family">who are we</div>
				<div class="content-title">我们是谁</div>
				<div class="content-desc">兔子帮原名兔子代写工作室，成立于2018年3月，一直致力于程序开发，代写行业，<br>兔子帮仅仅用了两年多的时间,从一个创业团队到一个成熟的程序外包公司。</div>
				<a href="about.html" class="btn-z">查看更多<span class="bg"></span><span class="icon"><i></i></span></a>
			</div>
		</section>


		<section class="i-service">
			<div class="i-s-bg">
				<div class="en-title-lg">SERVICE</div>
				<div class="cn-title-sm">我们的服务</div>
				<div class="i-s-desc">兔子帮在近2年的时间里，已累计服务超过近千家客户，通过口碑获得了一定的市场份额，并开始成长。<br>兔子帮一直坚持高效开发的理念，力求最短的时间内提供客户满意的程序开发，代写服务。</div>
				<div class="i-s-cards">
					<div class="card-item">
						<img src="../static/assets/img/project-5.jpg">
						<div class="card-layer animate"></div>
						<div class="content-wrap">
							<div class="title">高效理念</div>
							<div class="desc">不仅仅追求的是效率，同时对服务的质量有严格的把控。</div>
						</div>
					</div>
					<div class="card-item">
						<img src="../static/assets/img/project-51.jpg">
						<div class="card-layer animate"></div>
						<div class="content-wrap">
							<div class="title">服务流程</div>
							<div class="desc">兔子帮与客户之间永远没有业务销售，客户直接和程序开发人员对接，除去所有多余项目流程，将成本高效的运用产品上。</div>
						</div>
					</div>
					<div class="card-item">
						<img src="../static/assets/img/project-52.jpg">
						<div class="card-layer animate"></div>
						<div class="content-wrap">
							<div class="title">价值理念</div>
							<div class="desc">兔子帮只做程序开发，代写服务，所有的费用由程序开发人员根据项目时间，难度而定，同时价格也是同行业最优惠的水平。</div>
						</div>
					</div>
					<div class="card-item">
						<img src="../static/assets/img/project-53.jpg">
						<div class="card-layer animate"></div>
						<div class="content-wrap">
							<div class="title">企业文化</div>
							<div class="desc">速度，速度，速度</div>
						</div>
					</div>
				</div>
			</div>
			<div class="i-s-content">
				<div class="container-lg">
					<div class="title">兔子帮</div>
					<div class="desc">专业的技术团队，为您提供高效的程序开发，代写服务，售后有保障，一对一指导</div>
					<div class="service-list">
						<div class="service-item">
							<div class="s-icon bg-center" style="background-image: url('../static/assets/img/s1.svg');"></div>
							<div class="s-label">程序定制开发</div>
						</div>
						<div class="service-item">
							<div class="s-icon bg-center" style="background-image: url('../static/assets/img/s2.svg');"></div>
							<div class="s-label">课设，考试程序代写</div>
						</div>
						<div class="service-item">
							<div class="s-icon bg-center" style="background-image: url('../static/assets/img/s3.svg');"></div>
							<div class="s-label">程序开发，编程指导</div>
						</div>
					</div>
				</div>
			</div>
		</section>


		<section class="i-project">
			<div class="container-lg">
				<div class="en-title-lg" style="color: #ef313d;">CASES</div>
				<div class="cn-title-sm">案例中心</div>
				<div class="project-wrap">
					<div class="p-item">
						<div class="item-img" style="background: url(../static/assets/img/project-21.jpg)no-repeat center center;background-size: cover;">
						</div>
						<div class="item-content">
							<div class="en-title-lg ggh">程序定制开发：爬虫自动化项目</div>
							<div class="item-desc">
								根据客户的需求，自动爬取相关数据，同时开发网页前端显示数据，最终部署项目到服务器...
							</div>
							<a href="#" class="item-btn btn-z">查看详情<span class="bg"></span><span class="icon"><i></i></span></a>
						</div>
					</div>
					<div class="p-item">
						<div class="item-img" style="background: url(../static/assets/img/project-22.jpg)no-repeat center center;background-size: cover;">
						</div>
						<div class="item-content">
							<div class="en-title-lg ggh">课设，考试程序代写：机器学习，建模项目</div>
							<div class="item-desc">
								利用python的机器学习框架，训练模型，提供完整的代码，与训练模型...
							</div>
							<a href="#" class="item-btn btn-z">查看详情<span class="bg"></span><span class="icon"><i></i></span></a>
						</div>
					</div>
				</div>
				<a href="#" class="btn-z">查看更多<span class="bg"></span><span class="icon"><i></i></span></a>
			</div>
		</section>

		<section id="toTop" class="animate">
			<i class="fa fa-angle-up"></i>
		</section>


		<footer class="footer">
			<div class="top-text">
				<div class="container-lg vertical">
					<p>如需要程序开发，代写服务欢迎与我们联络，兔子帮是你最好的选择</p>
				</div>
			</div>
			<div class="middle-wrap">
				<div class="container-lg">
					<div class="right-btn"><span class="icon"></span><span class="text"><a href="/cdn-cgi/l/email-protection" class="__cf_email__"
							 data-cfemail="8ebfb8bfbfbdb6b9beb8bdceffffa0ede1e3">709343607@qq.com</a></span></div>
				</div>
			</div>
			<div class="bottom-wrap">
				<div class="f-content container-lg">
					<div class="f-logo"><img src="../static/assets/img/logo2.svg"></div>
					<div class="f-content-wrap">
						<div class="col-md-6 col-sm-6 col-xs-12 f-footer-info">
							<p class="mfname"><b>江西南昌兔子帮网络科技有限公司</b></p>
							<p><img src="../static/assets/img/f1.svg" class="ffj">江西南昌市丰和中大道1266号</p>
							<p><img src="../static/assets/img/f2.svg" class="ffj"><a href="/cdn-cgi/l/email-protection" class="__cf_email__"
																					 data-cfemail="84b5b2b5b5b7bcb3b4b2b7c4f5f5aae7ebe9">709343607@qq.com</a></p>
							<p><img src="../static/assets/img/f3.svg" class="ffj">183-4713-5404</p>
							<div class="bdsharebuttonbox share-mf" data-tag="share_1">
								<a class="icon bds_sqq animate" data-cmd="sqq" title="分享到QQ好友"></a>
								<a class="icon bds_weixin animate" data-cmd="weixin" title="分享到微信"></a>
								<a class="icon bds_tsina animate" data-cmd="tsina" title="分享到新浪微博"></a>
							</div>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6 f-footer-info">
							<p class="f-title">本站链接</p>
							<a href="about.html" class="animate">关于我们</a>
							<a href="service.html" class="animate">服务体系</a>
							<a href="project.html" class="animate">案例中心</a>
						</div>
					
					</div>
					
				</div>
				<div class="f-line"></div>
				<div class="f-copyright container-lg">© 2018 rabbit bang!
					<a class="animate f-copyright-1" href="http://pay.mfdemo.cn/" target="_blank">RBang!</a>
				
				</div>
			</div>
		</footer>

		<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
		<script src="../static/assets/js/jquery-1.8.2.min.js"></script>
		<script src="../static/assets/js/swiper.min.js"></script>
		<script src="../static/assets/js/swiper.animate1.0.2.min.js"></script>
		<script src="../static/assets/js/wow.min.js"></script>
		<script src="../static/assets/js/main.js"></script>
	</body>
</html>
